html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;

}

.todoApp {
    width: 550px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(14, 124, 124, 0.1);


}

h1 {
    text-align: center;
    color: palevioletred;
    opacity: 0.25;
    font-size: 100px;
    top: -155px;
    font-weight: 100;
    margin-bottom: 20px;
}

#textboxBarHeader {
    text-align: center;
}

#todoTextboxBar {
    display: flex;
    height: 65px;
    width: 540px;
    margin: 10px;
    margin-bottom: 0;
}

#newTodoTextbox {
    height: 59.1px;
    width: 550px;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    outline: 0;
    border: none;
    padding-left: 82px;
    margin-right: 10px;

}

#btnToggleAll {
    height: 59.1px;
    width: 50px;
    outline: none;
    display: none;
}

#btnToggleAll img {
    display: block;
    margin-top: 30%;
    margin-bottom: 70%;
    margin-left: 20%;
    margin-right: 80%;
    opacity: 0.5;
}

.infoFooter {
    font-size: 12px;
    opacity: 0.4;
    text-align: center;
    margin-top: 40px;
}

#newTodoTextbox::placeholder {
    color: gray;
    opacity: 0.2;
}

#todoApp-extension {
    text-align: center;
}

#todoApp-extension ul {
    list-style: none;
    width: 550px;
    height: auto;
    margin: auto;
    padding: 0;
}


#todoApp-extension ul li div {
    display: flex;

    width: 550px;
    margin: auto;
}

#todoApp-extension ul li div checkbox {
    height: 65px;
    flex: 1;
    outline: none;
}

#todoApp-extension ul li div label {
    word-break: break-all;
    padding: 15px 15px 15px 25px;
    flex: 8;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    outline: none;
    text-align: left;

}



#todoFooter {
    display: block;
    display: none;

}

#clearCompleted {
    float: right;
    margin-right: 10px;
}
#clearCompleted:hover{
    text-decoration: underline;
}
#itemsLeft {
    float: left;
    margin-left: 10px
}

#all {
    margin-left: 8em;
}

input[type="checkbox"] {
    width: 60px;
    height: 60px;
    float: left;

}

input:checked+label {
    text-decoration: line-through;
    color: grey;
    background-color: lightgrey;
}

input.deleteButton {
    display: none;
}

#all:hover{
    cursor: pointer;
}
#active{
    cursor: pointer;
}
#completed{
    cursor: pointer;
}
label:hover+input.deleteButton {
    display: block;
}

input.deleteButton:hover {
    display: block;
}

li.listItem {
    border-bottom: 2px solid rgba(14, 124, 124, 0.1);

}

ul>li:nth-child(1) {
    border-top: 2px solid rgba(14, 124, 124, 0.1);
}


@media (max-width: 548px) {

.todoApp{
    width: auto;
}
.todoHeader{
    width: auto;
}
#textboxBarHeader{
   width: auto;
}
#todoTextboxBar{
    width: auto;
}

#newTodoTextbox{
    width: auto;
}
#todoApp-extension{
    width: auto;
}
#todoFooter{
    width: auto;
}

#todoFooter button{
    width: auto;
}

#todoApp-extension ul {
    width: auto;
}


#todoApp-extension ul li div {
    width: auto;
}

#todoApp-extension ul li div checkbox {
    width: auto;
}

#todoApp-extension ul li div label {
    width: auto;

}

#all {
    margin-left: 5px;
}

}
@media (max-width: 430px){
    .todoApp{
        min-width: 400.2px; 
    }
    .todoHeader{
        width: 400.2px;
    }
    #textboxBarHeader{
       width: 400.2px;
    }
    #todoTextboxBar{
        width: 380.2px;
    }
    
    #newTodoTextbox{
        width: 317.8px;
    }
    #todoApp-extension{
        width:  400.2px;
    }
    #todoFooter{
        width:  400.2px;
    }
    
    #todoFooter button{
        width: auto;
    }
    
    #todoApp-extension ul {
        width: auto;
    }
    
    
    #todoApp-extension ul li div {
        width: auto;
    }
    
    #todoApp-extension ul li div checkbox {
        width: auto;
    }
    
    #todoApp-extension ul li div label {
        width: auto;
    
    }
}



@media (min-width: 1000px) {

    .todoApp {
       
        width: auto;
        margin: 20px;
        background: white;
        border-radius: 5px;
        box-shadow: 10px 10px 0 rgba(14, 124, 124, 0.1);
    
    
    }
    #todoTextboxBar {
        width: auto;
    }
    #newTodoTextbox {
       
        width: auto;
     
    
    }
    #todoApp-extension ul li div {
    
        width: auto;
        margin: auto;
    }
    #todoApp-extension ul {      
        width: auto;

    }
  
    #todoFooter {       
        display: block;
        display: none;
    
    }
    #todoFooter button {
        height: 30px;
        font-size: 1.2em;
        margin-bottom: 3px;
        margin-top: 3px;
    }
    #itemsLeft{
        font-size: 1.5em
    }

}