html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: lightblue;

}

.todo-app {
    width: 550px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(14, 124, 124, 0.1);


}

h1 {
    text-align: center;
    color: palevioletred;
    opacity: 0.25;
    font-size: 100px;
    top: -155px;
    margin-top: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}

#textbox-barheader {
    text-align: center;
}

#todo-textboxbar {
    display: flex;
    height: 65px;
    width: 540px;
    margin: 10px;
    margin-bottom: 0;
}

#new-todo-textbox {
    height: 59.1px;
    width: 100%;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    outline: 0;
    border: none;
    padding-left: 82px;
    margin-right: 10px;

}

#button-toggle-all {
    width: 50px;
    outline: none;
    display: none;
}

#button-toggle-all img {
    display: block;
    margin-top: 30%;
    margin-bottom: 70%;
    margin-left: 20%;
    margin-right: 80%;
    opacity: 0.5;
}

.info-footer {
    font-size: 12px;
    opacity: 0.4;
    text-align: center;
    margin-top: 40px;
}

#new-todo-textbox::placeholder {
    color: gray;
    opacity: 0.2;
}

#todo-app-extension {
    text-align: center;
}

#todo-app-extension ul {
    list-style: none;
    width: 550px;
    height: auto;
    margin: auto;
    padding: 0;
}


#todo-app-extension ul li div {
    display: flex;

    width: 550px;
    margin: auto;
}

#todo-app-extension ul li div checkbox {
    height: 65px;
    flex: 1;
    outline: none;
}

#todo-app-extension ul li div label {
    word-break: break-all;
    padding: 15px 15px 15px 25px;
    flex: 8;
    font-size: 24px;
    font-weight: normal;
    font-style: italic;
    outline: none;
    text-align: left;

}

.deleteButton {
    color: palevioletred;
    border: none;
    background: transparent;
    font-size: 30px;
    margin-right: 10px;
    font-weight: bold;
    opacity: 0.5;
}

.deleteButton:hover {
    color: crimson;
    opacity: 1;
}



#todo-footer {
    display: block;
    display: none;

}

#clear-completed {
    float: right;
    margin-right: 10px;
}

#clear-completed:hover {
    text-decoration: underline;
}

#items-left {
    float: left;
    margin-left: 10px
}

#all {
    margin-left: 8em;
}

input[type="checkbox"] {
    width: 60px;
    height: 60px;
    float: left;

}

input:checked+label {
    text-decoration: line-through;
    color: grey;
}

input.deleteButton {
    display: none;
}

#all:hover {
    cursor: pointer;
}

#active {
    cursor: pointer;
}

#completed {
    cursor: pointer;
}

label:hover+input.deleteButton {
    display: block;
}

input.deleteButton:hover {
    display: block;
}

li.listItem {
    border-bottom: 2px solid rgba(14, 124, 124, 0.1);

}

ul>li:nth-child(1) {
    border-top: 2px solid rgba(14, 124, 124, 0.1);
}


@media (max-width: 548px) {

    .todo-app {
        width: auto;
    }

    .todo-header {
        width: auto;
    }

    #textbox-barheader {
        width: auto;
    }

    #todo-textboxbar {
        width: auto;
    }

    #new-todo-textbox {
        width: 100%;
    }

    #todo-app-extension {
        width: auto;
    }

    #todo-footer {
        width: auto;
    }

    #todo-footer button {
        width: auto;
    }

    #todo-app-extension ul {
        width: auto;
    }


    #todo-app-extension ul li div {
        width: auto;
    }

    #todo-app-extension ul li div checkbox {
        width: auto;
    }

    #todo-app-extension ul li div label {
        width: auto;

    }

    #all {
        margin-left: 5px;
    }

}

@media (max-width: 430px) {
    .todo-app {
        min-width: 400.2px;
    }

    #button-toggle-all img {
        margin-left: 30%;
        margin-right: 70%;
    }
    .todo-header {
        width: 400.2px;
    }

    #textbox-barheader {
        width: 400.2px;
    }

    #todo-textboxbar {
        width: 380.2px;
    }

    #new-todo-textbox {
        width: 100%;
    }

    #todo-app-extension {
        width: 400.2px;
    }

    #todo-footer {
        width: 400.2px;
    }

    #todo-footer button {
        width: auto;
    }

    #todo-app-extension ul {
        width: auto;
    }


    #todo-app-extension ul li div {
        width: auto;
    }

    #todo-app-extension ul li div checkbox {
        width: auto;
    }

    #todo-app-extension ul li div label {
        width: auto;

    }

    .deleteButton {
        margin-right: 20px;
    }
}



@media (min-width: 1000px) {

    .todo-app {

        width: auto;
        margin: 20px;
        background: white;
        border-radius: 5px;
        box-shadow: 10px 10px 0 rgba(14, 124, 124, 0.1);


    }

    #todo-textboxbar {
        width: auto;
    }

    #new-todo-textbox {

        width: 100%;


    }

    #todo-app-extension ul li div {

        width: auto;
        margin: auto;
    }

    #todo-app-extension ul {
        width: auto;

    }

    #todo-footer {
        display: block;
        display: none;

    }

    #todo-footer button {
        height: 30px;
        font-size: 1.2em;
        margin-bottom: 3px;
        margin-top: 3px;
    }

    #items-left {
        font-size: 1.5em
    }

}